<link type="text/css" rel="stylesheet" href="{{ settings.path }}/templates/{{ meta.filename }}/{{ meta.filename }}.css?v={{ settings.version }}">

<div class="side-panel__content">
	<button class="side-panel__open-button {{settings.widget_code}}">Открыть виджет</button>
</div>
