<link type="text/css" rel="stylesheet" href="{{ settings.path }}/templates/{{ meta.filename }}/{{ meta.filename }}.css?v={{ settings.version }}">

<div class="settings-footer">
	<a class="settings-footer__link" href="{{ url }}" target="_blank">У меня нет API-ключа</a>
</div>
